<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Smartplug</title>
    <!-- 引入 echarts.js 这里使用flask的url_for-->
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
</head>
<body>
<form action="/control" method=post>
<input type=submit value="开关" />
</form>

<form action="/" method=post>
<input type=submit value="参数总表" />
</form>

<form action="/vol" method=post>
<input type=submit value="电压参数动表" />
</form>

<form action="/cur" method=post>
<input type=submit value="电流参数动表" />
</form>

<form action="/pwr" method=post>
<input type=submit value="功率参数动表" />
</form>

<form action="/tmp" method=post>
<input type=submit value="温度参数动表" />
</form>

<form action="/rssi" method=post>
<input type=submit value="RSSI参数动表" />
</form>

{{ name }}<br>

<!--
{{ str1 }}<br>
{{ str2 }}<br>
-->
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('main'));

	// 指定图表的配置项和数据
	function randomData() {
		now = new Date(+now + oneDay);
		value = value + Math.random() * 21 - 10;
		return {
			name: now.toString(),
			value: [
			[now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
			Math.round(value)
			]
		}
	}

	var data = [];
	var now = +new Date(2018, 9, 3);
	var oneDay = 24 * 3600 * 1000;
	var value = Math.random() * 1000;
	for (var i = 0; i < 1000; i++) {
		data.push(randomData());
	}

	option = {
		title: {
		text: '电流变化曲线'
		},
		tooltip: {
			trigger: 'axis',
			formatter: function (params) {
				params = params[0];
				var date = new Date(params.name);
				return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
			},
			axisPointer: {
				animation: false
			}
		},
		xAxis: {
			type: 'time',
			splitLine: {
				show: false
			}
		},
		yAxis: {
		type: 'value',
			boundaryGap: [0, '100%'],
			splitLine: {
				show: false
			}
		},
		series: [{
			name: '模拟数据',
			type: 'line',
			showSymbol: false,
			hoverAnimation: false,
			data: data
		}]
	};

	setInterval(function () {

		for (var i = 0; i < 5; i++) {
			data.shift();
			data.push(randomData());
		}

		myChart.setOption({
			series: [{
				data: data
			}]
		});
	}, 1000);

    // 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
    </script>
	
</body>
</html>
